#-------------------------------------------------
#
# Project created by QtCreator 2015-03-29T10:09:24
#
#-------------------------------------------------

QT       += core gui

greaterThan(QT_MAJOR_VERSION, 4): QT += widgets
qtHaveModule(printsupport): QT += printsupport
qtHaveModule(opengl): QT += opengl

TARGET = PMIG-Kursaal
TEMPLATE = app


SOURCES += main.cpp\
        mainwindow.cpp \
    opencvprocess.cpp \
    scribblearea.cpp \
    panels.cpp \
    shared/hoverpoints.cpp \
    toolbox.cpp \
    playground.cpp \
    scenemanager.cpp \
    p2dengine/objects/p2dpolygonobject.cpp \
    polygonitem.cpp \
    utils.cpp \
    p2dengine/general/p2dmath.cpp \
    p2dengine/collision/p2dcollision.cpp

HEADERS  += mainwindow.h \
    scribblearea.h \
    panels.h \
    shared/hoverpoints.h \
    toolbox.h \
    playground.h \
    scenemanager.h \
    p2dengine/general/p2dmath.h \
    p2dengine/general/p2dmathgeneral.h \
    p2dengine/general/p2dparams.h \
    p2dengine/objects/p2dbaseobject.h \
    polygonitem.h \
    utils.h \
    p2dengine/objects/p2dpolygonobject.h \
    p2dengine/collision/p2dcollision.h

FORMS    += mainwindow.ui

RESOURCES += \
    resources.qrc




INCLUDEPATH += C:\opencv-2.4.10\build\include\opencv
INCLUDEPATH += C:\opencv-2.4.10\build\include


LIBS += C:\opencv-2.4.10\build\x64\vc12\lib\opencv_core2410.lib\
        C:\opencv-2.4.10\build\x64\vc12\lib\opencv_highgui2410.lib\
        C:\opencv-2.4.10\build\x64\vc12\lib\opencv_imgproc2410.lib
        #/usr/local/lib/libopencv_highgui.dylib\
        #/usr/local/lib/libopencv_imgproc.dylib
