#-------------------------------------------------
#
# Project created by QtCreator 2015-03-29T10:09:24
#
#-------------------------------------------------

QT       += core gui

greaterThan(QT_MAJOR_VERSION, 4): QT += widgets
qtHaveModule(printsupport): QT += printsupport
qtHaveModule(opengl): QT += opengl

TARGET = PMIG-Kursaal
TEMPLATE = app


SOURCES += main.cpp\
        mainwindow.cpp \
    opencvprocess.cpp \
    scribblearea.cpp \
    panels.cpp \
    shared/hoverpoints.cpp \
    toolbox.cpp \
    playground.cpp \
    scenemanager.cpp \
    p2dengine/objects/p2dpolygonobject.cpp \
    p2dengine/general/p2dmath.cpp \
    polygonitem.cpp \
    p2dengine/collision/p2dcollision.cpp \
    p2dengine/general/p2dtimer.cpp \
    p2dengine/general/p2dmem.cpp \
    p2dengine/collision/p2ddistance.cpp \
    p2dengine/collision/p2dcontactsolver.cpp \
    p2dengine/collision/p2dcontact.cpp \
    p2dengine/collision/p2dtoi.cpp \
    p2dengine/collision/p2dcoarsecollision.cpp \
    p2dengine/collision/p2dbtree.cpp \
    p2dengine/scene/p2dbody.cpp \
    p2dengine/scene/p2dfixture.cpp \
    p2dengine/scene/p2dscenecallback.cpp \
    p2dengine/scene/p2dcontactmanager.cpp \
    p2dengine/scene/p2dscenemanager.cpp \
    p2dengine/collision/p2dpolygoncontact.cpp \
    p2dengine/scene/p2disland.cpp \
    p2dengine/collision/p2dcollidepolygon.cpp

HEADERS  += mainwindow.h \
    scribblearea.h \
    panels.h \
    shared/hoverpoints.h \
    toolbox.h \
    playground.h \
    scenemanager.h \
    p2dengine/general/p2dmath.h \
    p2dengine/general/p2dparams.h \
    p2dengine/objects/p2dpolygonobject.h \
    p2dengine/objects/p2dbaseobject.h \
    polygonitem.h \
    p2dengine/collision/p2dcollision.h \
    p2dengine/collision/p2ddistance.h \
    p2dengine/general/p2dtimer.h \
    p2dengine/general/p2dmem.h \
    p2dengine/collision/p2dcontactsolver.h \
    p2dengine/collision/p2dcontact.h \
    p2dengine/collision/p2dtoi.h \
    p2dengine/collision/p2dcoarsecollision.h \
    p2dengine/collision/p2dbtree.h \
    p2dengine/general/p2dcommonstructs.h \
    p2dengine/scene/p2dfixture.h \
    p2dengine/scene/p2dscenecallback.h \
    p2dengine/scene/p2dscenemanager.h \
    p2dengine/scene/p2dbody.h \
    p2dengine/scene/p2dcontactmanager.h \
    p2dengine/collision/p2dpolygoncontact.h \
    p2dengine/scene/p2disland.h

FORMS    += mainwindow.ui

RESOURCES += \
    resources.qrc




INCLUDEPATH += /usr/local/include/opencv/
INCLUDEPATH += /usr/local/include/


LIBS += /usr/local/lib/libopencv_core.dylib\
        /usr/local/lib/libopencv_highgui.dylib\
        /usr/local/lib/libopencv_imgproc.dylib

OTHER_FILES +=
